@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    background-image: url('/bg.png');
    background-size:auto;
    background-position: center;
    background-attachment: fixed;
  }
}
